/* Global stylesheet for the global styles of the application */

html {
  height: 100%;
}

body {
  display: grid;
  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  min-height: 100%;
  margin: 0; 
  padding: 0;
}